@model IEnumerable<W_GJS.Models.O_CATEGORY_NEWS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

@section Breadcrumb {
    <ul class="breadcrumb breadcrumb-page">
        <li class="breadcrumb-label text-light-gray">Bạn đang ở đây: </li>
        <li><a href="#">Trang chủ</a></li>
        <li class="active"><a href="#">Loại tin tức</a></li>
    </ul>

    <div class="page-header">

        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-info-circle page-header-icon"></i>&nbsp;&nbsp;Loại tin tức</h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <div class="pull-right col-xs-12 col-sm-auto"><a style="width: 100%;" class="btn btn-primary btn-labeled" href="@Url.Action("Create", "CategoryNews")"><span class="btn-label icon fa fa-plus"></span>Tạo mới</a></div>
                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                Danh sách
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.CATEGORY_NEWS_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CATEGORY_NEWS_NAME)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CATEGORY_NEWS_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CATEGORY_NEWS_NAME)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { CATEGORY_NEWS_CD = item.CATEGORY_NEWS_CD }) |
                            @if (item.ACTIVE == false)
                            {
                                @Html.ActionLink("Kích hoạt", "Active", new { CATEGORY_NEWS_CD = item.CATEGORY_NEWS_CD })
                            }
                            else
                            {
                                @Html.ActionLink("Xóa", "Deactive", new { CATEGORY_NEWS_CD = item.CATEGORY_NEWS_CD })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="table-footer">

        </div>
    </div>
</div>

