
@{
    ViewBag.Title = "Catalog";
    W_GJS.Models.GJSEntities gjs = new W_GJS.Models.GJSEntities();
    List<W_GJS.Models.O_CATEGORY_PRODUCT> listcategory = gjs.O_CATEGORY_PRODUCT.Where(t => t.ACTIVE == true ).ToList();
}

@*section Slide {
        @Html.Partial("_Slide")
    }*@

@section PageTitle {
    <section class="page-title">
        <div class="container">

            <header>

                <ul class="breadcrumb">
                    <!-- breadcrumb -->
                    <li><a href="@Url.Action("Index")">Trang Chủ</a></li>
                    <li class="active">Catalog</li>
                </ul><!-- /breadcrumb -->

                <h2>
                    <!-- Page Title -->
                    <strong>Catalog</strong>
                </h2><!-- /Page Title -->

            </header>

        </div>
    </section>
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Self/catalog/js/script.js")"></script>
}

@foreach (var item in listcategory)
{
    <h2 class="owl-featured margin-bottom-30 margin-top20"><strong>@item.CATEGORY_PRODUCT_NAME</strong></h2>
    if (item.O_PRODUCT.Count == 0)
    {
        <p>Không tìm thấy sản phẩm nào.</p>
    }
    else
    {
        <div id="ProductList-@item.CATEGORY_PRODUCT_CD"></div>


<script>

    function loadProducts_@(item.CATEGORY_PRODUCT_CD)(currentPage) {
        inProgress_@(item.CATEGORY_PRODUCT_CD) = true;
        $("#loadingDiv-@(@item.CATEGORY_PRODUCT_CD)").show();

        $.post("@Url.Action("CategoryProductListPaging", "Home")", { "CATEGORY_PRODUCT_CD": @item.CATEGORY_PRODUCT_CD , "productMenu": false, "numberOfItemsInPage": 6, "currentPage": currentPage },
        function (data) {
            $("#ProductList-@(item.CATEGORY_PRODUCT_CD)").html(data);
            $("#loadingDiv-@(item.CATEGORY_PRODUCT_CD)").hide();
            inProgress_@(item.CATEGORY_PRODUCT_CD) = false;
        });
    }

    loadProducts_@(item.CATEGORY_PRODUCT_CD)(1);


</script>

    
    }
}



@*<div class="row">
        <div class="col-md-6">
            Hiện 6 trên tổng số 10 sản phẩm
        </div>
        <div class="col-md-6">
            <ul class="pagination pull-right">
                <li class="disabled"><a href="@Url.Action("ProductList", "Home")">&laquo;</a></li>
                <li class="active"><a href="@Url.Action("ProductList", "Home")">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="@Url.Action("ProductList", "Home")">2</a></li>
                <li><a href="@Url.Action("ProductList", "Home")">3</a></li>
                <li><a href="@Url.Action("ProductList", "Home")">4</a></li>
                <li><a href="@Url.Action("ProductList", "Home")">5</a></li>
                <li><a href="@Url.Action("ProductList", "Home")">&raquo;</a></li>
            </ul>
        </div>
    </div>*@

